<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Meal</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/logged_in_menu') %>

   <div class="meal-card">
    <form action="/meals/edit" method="post">
    <input type="hidden" name="mealId" value="<%= mealData[0].meal_Id %>">        
     <div>
     <strong>Calories:</strong> <%= mealData[0].calories %> calories
     </div>      
     <div>
     <strong>Meal:</strong>
     <input type="text" name="meal" value="<%= mealData[0].meal %>">
     </div>       
    <div>
   <strong>Meal Type:</strong>
   <input type="text" name="time" value="<%= mealData[0].time %>">
   </div>     
    <input type="hidden" name="dateV" id="dateV" value="<%= mealData[0].date %>">       
   <div>
     <strong>Date:</strong>
      <input type="date" name="date" id="date">
       </div>
       <button>Update!</button>
        </form>
    </div>
    <script src="/js/editMeal.js"></script>
    <%- include('partials/footer') %>
</body>
</html>