<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/head') %>
</head>
<body > 

    <%- include('partials/logged_in_menu') %>

    <div class="container-meals">
        <% for (let meal of rows) { %>
            <form action="/meals/delete" id="delete" method="post" class="meal-form"> 
            <input type="hidden" value="<%=meal.meal_Id%>" name="mealId">
            <span id="dash"></span> <a href="/meals/edit?meal_Id=<%= meal.meal_Id%>" class="mealsLink">Update</a> <span id="dash"></span> 
            <span id="meal"><%=meal.calories%></span> <br>
            <span id="meal"><%=meal.meal%></span> <br>
            <span id="meal"><%=meal.time%></span> <br>
            <span id="meal"><%=meal.date%></span> <br>
            <button type="submit" class="btn btn btn-dark">Delete</button>
            </form>
        <% } %>
    </div>

</body>
<%- include('partials/footer') %>
</html>