<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/head') %>
</head>
<body > 

    <%- include('partials/logged_in_menu') %>
    <% for (let meal of rows) { %>
        <form action="/meals/edit">
            <input type="hidden" value="<%=meal.meal_Id%>" name="meal_Id" class="btn btn btn-dark">
           
            <input type="hidden" value="<%=meal.meal_Id%>" name="meal_Id">
           <input type="hidden" id="dateV" value="<%=meal.date%>">
            <span>Date: </span><span id="date"><%=meal.date%></span> <br>
            <span>Meal Type: </span><span id="meal"><%=meal.time%></span> <br>
           <span>Calories: </span><span id="meal"><%=meal.calories%></span> <br>
           <span>Meal: </span><span id="meal"><%=meal.meal%></span> <br>
           <button>Update</button>
           
        </form>
            
        <% } %>
        
        <script src="/js/meals.js"></script>
    </div>

</body>
<%- include('partials/footer') %>
