<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/head') %>
</head>
<body> 

    <%- include('partials/logged_in_menu') %>
    <div class="meals-container">
        <% for (let meal of rows) { %>
         <div class="meal-card">
         <form action="/meals/edit" class="meal-form">
          <input type="hidden" name="meal_Id" value="<%=meal.meal_Id%>">
          <input type="hidden" id="dateV" value="<%=meal.date%>">
           <div>
           <span>Date:</span>
           <span><%=meal.date%></span>
           </div>
            <div>
            <span>Meal Type:</span>
            <span><%=meal.time%></span>
            </div>
            <div>
            <span>Calories:</span>
             <span><%=meal.calories%></span>
             </div>
             <div>
             <span>Meal:</span>
             <span><%=meal.meal%></span>
             </div>
             <button>Update</button>
             </form>
            </div>
        <% } %>
    </div>
    <script src="/js/meals.js"></script>
    <%- include('partials/footer') %>
</body>
</html>